<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Tricks - Layout - Sticky footer legacy</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="l-screen">
        <div class="l-content">
            <div class="l-header">Header</div>
            <div class="l-main">
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
            </div>
        </div>
        <div class="l-footer">Footer</div>
    </div>
</body>
</html>
